<% include _layouts/header %>

<h1>تسجيل الدخول</h1>

<form method="post" action="/users/login">
    
    <div class="form-group">
        <label>اسم المستخدم</label>
        <input type="text" name="username" class="form-control" placeholder="قم بادخال اسم المستخدم">
    </div>

    <div class="form-group">
        <label>المز السري</label>
        <input type="password" name="password" class="form-control"  placeholder="قم بادخال الرمز السري">
    </div>

    <button type="submit" class="btn btn-default">تسجيل الدخول</button>
</form>

<% include _layouts/footer %>